.burger {
  cursor: url(burger.cur);
}

.headline {
  box-sizing: border-box;
  font-family: "Helvetica";
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.videobottomright {
  position: fixed;
  bottom: 100px;
  right: 100px;
  color: #ffd700;
}

.videotopleft {
  position: fixed;
  top: 100px;
  left: 100px;
}

.videotopright {
  position: fixed;
  top: 100px;
  right: 100px;
  color: green;
}

#ronald_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.biography {
  font-family: "courier";
  position: fixed;
  font-size: 16px;
  font-weight: 700;
  top: 250px;
  left: 50px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 200px
}

#ronald_beats {
  position: fixed;
  top: 250px;
  right: 100px;
}

#qr_code {
  position: fixed;
  top: 500px;
  left: 50px;
  height: 200px;
}

.ronald_image {
 background-image: url("ronald.jpg");
 background-size: 1%;
}

.topleft {
  position: absolute;
  top: 100px;
  left: 100px;
}

.bottomleft {
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.bottomright {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.topright {
  position: absolute;
  top: 100px;
  right: 100px;
}

.store {
  background-color: Transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.green {
  color: green;
}

.red {
  color: red;
}
